/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.header {

display: grid;
background: rgb(99,106,89);
background: linear-gradient(90deg, rgba(99,106,89,1) 0%, rgba(52,65,65,1) 100%);
height: 10vh;

}
.leftNav {
display: flex;
background: rgb(253,202,104);
background: linear-gradient(185deg, rgba(253,202,104,1) 0%, rgba(141,75,38,1) 100%);
height: 90vh;
width: 15vw;
align-items: center;
flex-direction: column;
}
.rightNav {
display: flex;
background: rgb(230,213,202);
background: linear-gradient(185deg, rgba(230,213,202,1) 0%, rgba(197,228,208,1) 100%);
height: 90vh;
width: 85vw;
flex-direction: column;
overflow-y:auto;
}
#main {
    display: flex;

}
.leftHeader {
    margin-top: 5vh;
    height: 3vh;
}
.toDoContainer {
    display: flex;
    align-items: center;
    margin-top: 5vh;
    margin-left: 5vh;

}
.statusButtonActive {
    height: 7vh;
    width: 40px;
    margin-right: 15px;
    background-color: #008f6f;
    border: 2px, solid #089b7a;
    border-radius: 4px;

}
.statusButtonInactive {
    height: 7vh;
    width: 40px;
    margin-right: 15px;
    background-color: #9b3e08;
    border: 2px, solid #9b3e08;
    border-radius: 4px;

}


.toDoTitle {
    font-size: x-large;
}
.toDoDueDate {
    font-size: small;
}
.seperator {
    border: 1px solid #888888;
    width: 85%;
}
.newToDo {
    z-index: 2;
    position:absolute;right: 5%;bottom: 5%;
    
}
#newToDoButton {
    height: 50px;
    width: 50px;
    border-radius: 4px;
    border: none;
    background-color: #B36A5E;

}

.projectTitle {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.projectTitle:hover {
    color: white
}
.popUp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: auto;
    animation: move 0.5s ease forwards;
    height: 12vh;
    width: clamp(150px, 12vw, 12vw);
    border-radius: 6px;
    transition-property: all;
    animation-iteration-count: 1;
    animation-name: move;
    position: absolute; right: 3.5%;bottom: 9%;
    transform: translate(-13%, -10%);

}
@keyframes move {
    from {
        background-color: none;
    }
    to {
        background-color: #B36A5E;
        position: absolute; right: 3.5%;bottom: 10%;


    }
    
}
.new {
    padding-left: 10px
}
.new:hover { 
    color: white
}
.formOne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    width: 12vw;
}

.formTwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;
    width: 12vw;


}

.formOne input {
    width: clamp(125px, 10vw, 10vw);


}

.formTwo input {
    width: clamp(125px, 10vw, 10vw);

}

.projectForm {
    background-color: #B36A5E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    width: clamp(150px, 12vw, 12vw);
    border-radius: 6px;
    transition-property: all;
    animation: move 1s ease forwards;
    animation-name: projectMoves;
    position: absolute; right: 3.5%;bottom: 10%;
    transform: translate(-13%, -10%);
    


}
@keyframes projectMoves {
    from {
        background-color: #B36A5E;

    }
    to {
        background-color: #B36A5E;
        height: 15vh

    }
    

}

.toDoForm {
    background-color: #B36A5E;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 12vh;
    width: clamp(150px, 12vw, 12vw);
    border-radius: 6px;
    transition-property: all;
    animation: move 1s ease forwards;
    animation-name: toDoMoves;
    position: absolute; right: 3.5%;bottom: 10%;
    transform: translate(-13%, -10%);

}
@keyframes toDoMoves {
    from {
        background-color: #B36A5E;

    }
    to {
        background-color: #B36A5E;
        height: 30vh

    }
    


}