@import url('https://fonts.googleapis.com/css?family=Varela+Round');

/*This is the CSS Code for the Pure CSS SideBAR Toggle Menu*/
html, body {
    overflow-x: hidden;
    height: 100%;
}
body {
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

/*Below is the CSS Code for the Pure CSS SideBAR Toggle Menu*/

.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #FC466B;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    z-index: 2;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #FC466B 0%, #3F5EFB 100%);
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    Overflow-y: Scroll; 
}
.sidebarMenuInner::-webkit-scrollbar{ 
    display: none;
 }
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.projectList{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
    Overflow-y: Scroll; 
    height: 75vh
}
.projectList::-webkit-scrollbar{
    display: none;
}
.projectList li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}
input[type="checkbox"]:checked ~ #main {
    transform: translateX(250px);
}
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
/*Above is the CSS Code for the Pure CSS SideBAR Toggle Menu*/

    #main {
        display: flex;
        transform: translateX(0px);
        transition: transform 250ms ease-in-out;
    }
    .rightNav {
        display: flex;
        margin-top: 60px;
        background: linear-gradient(185deg, rgba(230,213,202,1) 0%, rgba(197,228,208,1) 100%);
        flex-direction: column;
        overflow-y:auto;
        overflow-x: hidden;
        height: 100vh;
        width: clamp(150px, 100vw, 100vw);   
        }
    .toDoContainer {
        display: flex;
        align-items: center;
        margin-top: 1vh;
        margin-bottom: 2vh;
        margin-left: 3vw;
        padding-left: 2vw;
        width: clamp(90vw, 75vw,75vw);
        justify-content: space-evenly;
        padding:15px;
    }
    .toDoContainer:hover {
        background-color: rgba(0,0,0,0.2)
        }
    .toDoTitle {
        width: clamp(150px, 20vw,20vw);
    }
    .toDoDescription {
        width: clamp(150px, 20vw,20vw);
    }
    .toDoStatus {
        width: clamp(25px, 85px, 85px);
        height: clamp(25px, 65px, 65px);
        display: flex;
        align-items: center;

    }
    .check {
        width: clamp(30px, 65px, 65px);
        height: clamp(40px, 65px, 65px);
        margin-right: 15px;
        background-color: rgb(59, 55, 55);
        border-radius: 50%;
        border-color: black;
        z-index: 0;
        mask-image:url(/src/images/checkmark-circle-2-outline.svg);
        -webkit-mask-image: url(/src/images/checkmark-circle-2-outline.svg);
        transition: -webkit-mask-image 70ms
    }
    .check:hover { 
        background-color: rgb(121, 163, 121); 
        mask-image:none;
        mask-image:url(/src/images/Empty-circle-2-outline-svg.svg);
        -webkit-mask-image: url(/src/images/Empty-circle-2-outline-svg.svg);
    }  
    .checked {
        height: clamp(100px, 53vh, 53vh);
        width: clamp(100px, 2vw, 2vw);
        margin-right: 15px;
        background-color: rgb(135, 180, 135); 
        border-radius: 50%;
        border-color: black;
        mask-image:none;
        mask-image:url(/src/images/checkmark-circle-2-outline.svg);
        -webkit-mask-image: url(/src/images/checkmark-circle-2-outline.svg);
    
    }  
    .toDoContent {
        display: grid;
        grid-template-columns: [column1-start] 1fr [column2-start] 1fr;
        width: clamp(200px, 40vw, 40vw);
        overflow-wrap: break-word
    }
    .toDoTitle { 
        font-size: x-large;
    }
    .toDoDueDate {
        font-size: small;
        width: clamp(75px, 5vw, 5vw);
    }
    .project {
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: baseline

    
    
    }
    /* .projectColor {
        height: 1rem;
        width: 1rem ;
        margin-right: 5px;
        background-color: red;
        border-radius: 50%;
        display: inline-block;
      
    } */
    .projectTitle {
        display: flex;
    }
    .projectTitle:hover {
        color: white
    }
    .popUp {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: auto;
        animation: move 0.5s ease forwards;
        height: 12vh;
        width: clamp(150px, 12vw, 12vw);
        border-radius: 6px;
        transition-property: all;
        animation-iteration-count: 1;
        animation-name: move;
        position: absolute; right: 3.5%;bottom: 9%;
        transform: translate(-13%, -10%);
    
    }
    @keyframes move {
        from {
            background-color: none;
        }
        to {
            background-color: #B36A5E;
            position: absolute; right: 3.5%;bottom: 10%;
    
    
        }
        
    } 
    .projectForm {
        background-color: #B36A5E;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 12vh;
        width: clamp(150px, 12vw, 12vw);
        border-radius: 6px;
        transition-property: all;
        animation: move 1s ease forwards;
        animation-name: projectMoves;
        position: absolute; right: 3.5%;bottom: 10%;
        transform: translate(-13%, -10%);
        
    
    
    }
    @keyframes projectMoves {
        from {
            background-color: #B36A5E;
        }
        to {
            background-color: #B36A5E;
            height: 15vh
        }
    } 
    .toDoForm {
        background-color: #B36A5E;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 10vh;
        width: 10vw;
        width: clamp(150px, 12vw, 12vw);
        border-radius: 6px;
        transition-property: all;
        animation: move 0.4s ease forwards;
        animation-name: toDoMoves;
        position: absolute; right: 15%;bottom: 20%;
    
    }
    @keyframes toDoMoves {
        from {
            background-color: #B36A5E;
        }
        to {
            background-color: #B36A5E;
            height: 70vh;
            width: 70vw;
        }
    }
.toDoOptions{
    display: flex;
    width: 15vw;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.toDoTrash {
    width: 45px;
    height: 45px;
    background-color: rgba(0,0,0,0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
}
.toDoTrash:hover {
    background-color: rgb(211, 211, 211);
}
.toDoEdit {
    width: 45px;
    height: 45px;
    background-color: rgba(0,0,0,0);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    text-decoration: none;
}
.toDoEdit:hover {
    background-color: rgb(211, 211, 211);
}
.ProjectTitle {
    display: flex;
    align-items: center;

}
.ProjectTitle span {
    cursor: pointer;
    color: white;
    transition: 0.5s;


}
.ProjectTitle span:hover {
    transition: 0.5s;
    transform: rotate(45deg)
}
.newProject {
    display: flex;
    align-items: center;
    justify-content: space-between
}
#pName {
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 99, 71, 0.10);
    background-color: rgba(0,0,0,0);
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    height: 20px;
    text-align: center;
}
#pName::placeholder{
    color: gray
}
.pConfirm {
    transition: 0.5s;
}
.pConfirm:hover{ 
    transform: rotate(45deg)
}
.newToDoTwo {
    display: flex;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 1vh;
    margin-left: 3vw;
    padding-left: 2vw;
    width: clamp(90vw, 75vw,75vw);
    justify-content: center;
}
.newToDoTwo:hover {
    background-color: rgba(0,0,0,0.2);
    color: #FC466B

    }
.newToDoTwo div {
    margin-right: 15px;
}
.visibleForm {
    display: flex;
    align-items: center;
    margin-top: 4vh;
    margin-bottom: 1vh;
    margin-left: 3vw;
    padding-left: 2vw;
    width: clamp(90vw, 75vw,75vw);
    justify-content: space-evenly;

}
.invisibleForm {
    display: none;
}
.pConfirm {
    align-items: center;

}
.projectRemove {
    z-index: 2;
    padding-left: 8px;
    transform: rotate(45deg);
    align-items: center;
}

.projectRemove:hover {
    color: gray
}